@import 'nullstyle.scss';

.wrapper {
    
    min-width: 100%;
    min-height: 100%;
}

.slider {

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    overflow-x: hidden;

    &__line {

        flex: 1 1 auto;

        display: flex;

        transition: all .7s ease;
    }

    &__btns {

        width: 100%;

        padding: 10px 0;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &__btn {

            width: 80px;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;

            background-color: transparent;

            transition: background-color .7s ease;

            cursor: pointer;

            user-select: none;
        }

        &__btn--active{

            background-color: rgb(185, 185, 185);

            transition: background-color .7s ease;
        }

        &__btn--radio {

            width: 40px;
            height: 10px;
        }
    }
}